---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Yulisa Rosliana's Web Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>
            
            <a target="_blank" href="http://sif.uin-suska.ac.id/">Sistem Informasi</a> - <a target="_blank" href="http://uin-suska.ac.id/">UIN SUSKA RIAU</a> - <a target="_blank" href="http://fst.uin-suska.ac.id/">FASTE UIN SUSKA</a> /

                <ul>
                    {% if site.github_username %}
                    <li><a class="fa fa-2x fa-github" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
                    {% endif %}

                    {% if site.facebook_username %}
                    <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ site.facebook_username }}"><span class="description">Facebook</span></a></li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"><span class="description">Twitter</span></a></li>
                    {% endif %}

                    {% if site.instagram_username %}
                    <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"><span class="description">Instagram</span></a></li>
                    {% endif %}
                </ul>
        </div>

    </body>
</html>
